fastapi==0.95.0
uvicorn[standard]==0.18.3
sqlalchemy==1.4.46
alembic==1.7.7
pymysql==1.0.2
bcrypt==3.2.2
python-jose[cryptography]==3.3.0
passlib==1.7.4
python-dotenv==0.20.0
apscheduler==3.9.1
motor==3.1.2
pymongo==4.3.3